@font-face {
    font-family: lemonregular;
    src: url(fonts/LEMONMILK-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

/*********
Header
**********/
body{
    font-family: 'lemonregular', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

header{
    background-color: white;
    height: 100px;
    margin-top: 0;
}

header > a{
    text-decoration: none;
    color: black;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headernav > ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    margin: 0;
    padding: o;
    list-style: none;
    padding: 0;
}

.headernav > ul > li{
    margin: 0 50px;
}

.headernav > ul > li > a{
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    width: 100px;
    background-color: #EDCBA4;
}

.headernav > ul > li a:hover{
    color: black;
    background-color: white;
}

@media (min-width: 576px){
    
}

/*HEROPICTURE*/

.heropicture{
    text-align: center;
    position: relative;
    margin-top: 0c;
    width: 100%;
    height: 700px;
    overflow: hidden;
}