@font-face {
    font-family: lemonregular;
    src: url(fonts/LEMONMILK-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lemonlight;
    src: url(fonts/LEMONMILK-Light.otf);
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3{
    font-family: 'lemonregular',Arial, Helvetica, sans-serif;
}

p{font-family: 'lemonlight', Arial, Helvetica, sans-serif;}

main{
    margin: 0 0 50px 0;
}

/*********
Header
**********/

body{
    font-family: 'lemonregular', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

header{
    background-color: #D9D9D9;
    height: 130px;
    margin-top: 0;
    padding-top: 10px;
}

header > a{
    text-decoration: none;
    color: black;
}

h1{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herolink{
    background-color: #768E98;
    width: 170px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.heropicture > p{
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;

}

.headerlink:hover{
    background-color: white;
    color: #768E98;
}

.headernav > ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    margin: 0;
    padding: o;
    list-style: none;
    padding: 0;
}

.headernav > ul > li{
    margin: 0 20px;
}

.headernav > ul > li > a{
    text-align: center;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    width: 100px;
    background-color: transparent;
}

.headernav > ul > li a:hover{
    color: black;
    background-color: white;
}

.yt-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center; 
    width: 100%;
    gap: 50px;
    margin: 50px 0 50px 0;

}

@media (min-width: 576px){
    
}

/************
3D & VFX
************/

.sketchfab-embed-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
}

/*************
About Us
*************/

hr{
    width: 70%;
    height: 1px;
    background-color: black;
}

.card-right{
    display: flex;
    align-items: center;
    margin: 100px;
}

.card-right > div > h2{
    text-align: center;
    font-size: 2em;
}

.card-right > div > p{
    font-size: 1.2em;
    line-height: 35px;
}

.card-right > img{
    display: flex;
    width: 450px;
    height: auto;
    margin-left: 50px;
} 

/*Left*/

.card-left{
    display: flex;
    align-items: center;
    margin: 100px;
}

.card-left > div > h2{
    text-align: center;
    font-size: 2em;
}

.card-left > div > p{
    font-size: 1.2em;
    line-height: 35px;
}

.card-left > img{
    display: flex;
    width: 450px;
    height: auto;
    margin-right: 50px;
} 

/************
HEROPICTURE
************/

.heropicture{
    text-align: center;
    position: relative;
    margin-top: 0c;
    width: 100%;
    height: 650px;
    overflow: hidden;
    object-fit: cover;
}




/**************
    FOOTER
**************/

footer{
    margin-top: 0px;
    padding: 10px 15%;
    background-color: #10596A;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    height: 900px;
}

footer > div{
    text-align: center;
    margin: 20px;
}

footer > div > h2{
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 > a{
    display: block;
    text-decoration: none;
    color: black;
    background-color: transparent;
    margin-bottom: 10px;
}

footer form input{
    width: 350px;
    height: 20px;
    text-align: center;
    margin: 20px 0 20px 0;
    outline: none;
    background-color: transparent;
    border: none;
}

footer form textarea{
    width: 350px;
    height: 50px;
    text-align: left;
    margin: 5px 0 5px 0;
    outline: none;
    background-color: #EDCBA4;
    border: none;
}

footer form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    width: 355px;
    height: 40px;
}

footer form button:hover{
    background: transparent;
    color: black;
    border: 2px solid black;
}

.col-1 a:hover{
    color: #10596A;
    background-color: white;
}


@media (min-width: 576px){

footer{
    margin-top: 0px;
    padding: 10px 15%;
    background-color: #D9D9D9;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    height: 350px;
}

footer > div{
    text-align: center;
    margin: 50px;
}

footer > div > h2{
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 > a{
    display: block;
    text-decoration: none;
    color: black;
    background-color: transparent;
    margin-bottom: 10px;
}

footer form input{
    width: 350px;
    height: 30px;
    text-align: center;
    margin: 20px 0 10px 0;
    outline: none;
    background-color: transparent;
    border: solid 2px white;
}

footer form textarea{
    width: 350px;
    height: 60px;
    text-align: left;
    margin: 5px 0 5px 0;
    outline: none;
    background-color: transparent;
    border: solid 2px white;
}

footer form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    width: 355px;
    height: 40px;
}

footer form button:hover{
    background: transparent;
    color: black;
    border: 2px solid black;
}

.col-1 a:hover{
    color: #10596A;
    background-color: white;
}

}